<!-- begin comments -->
<div id="commento"></div>
<script src="https://comments.craigary.net/js/commento.js"></script>

<style>
.isso-postbox * {
  box-shadow: none;
  border-radius: 0;
  box-shadow: none;
}

.isso-postbox > .form-wrapper > .auth-section .input-wrapper {
  margin-right: 4.5px;
}
.isso-postbox > .form-wrapper > .auth-section .input-wrapper input {
  border-radius: 0;
  box-shadow: none;
  margin-left: 0;
}

.isso-postbox > .form-wrapper > .auth-section .post-action > input {
  border-radius: 0;
  background: white;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-left: 8px;
  padding-right: 8px;
  height: 32px;
  box-shadow: none;
}

.isso-postbox > .form-wrapper > .auth-section .post-action > input:hover{
  border: 1px solid #000;
  color: #fff;
  background-color: #000;
}

div.avatar img {
  width: 100%
}
</style>
<!-- end comments -->