<script data-isso="//isso.craigary.net/" data-isso-require-author="true" data-isso-require-email="true" data-isso-avatar="false" data-isso-gravatar="true" src="//isso.craigary.net/js/embed.min.js"></script>
<script>
commentsComp.classList.remove('hide')
</script>

<style>
.isso-postbox > .form-wrapper .textarea, .isso-postbox {
  box-shadow: none;
}

.isso-postbox > .form-wrapper > .auth-section .input-wrapper input {
  box-shadow: none;
  margin-left: 0;
  margin-right: 1em;
}

.isso-postbox > .form-wrapper > .auth-section .post-action > input {
  border: 1px solid #DDD;
}

.isso-postbox > .form-wrapper > .auth-section .post-action > input:hover{
  border: 1px solid #ccc;
}

div.avatar img {
  width: 100%
}
</style>