{%- assign pageCSS = "common.css,post.css,highlight.css" -%}
{%- assign pageCSS = pageCSS | split: "," -%}
{%- assign pageJS = "blog.js" | split: "," -%}
{%- assign buildAt = site.time | date: "%Y%m%d%H%M%S" -%}
<!DOCTYPE html>
<html>
{% include head.html %}
<body ondragstart="return false;">
{% include header.html %}
<div class="page page-post animation-fade-up">
  <h1 class="title" id="{{ page.title }}">{{ page.title }}</h1>
  {% if page.date %}
  <div class="subtitle">Published on {{ page.date | date: "%Y-%m-%d" }} by {{site.author}} </div>
  {% endif %}
  <div class="post">
    {{ content }}
  </div>
</div>
<hr>
<div id="comments">
  <section id="isso-thread" data-title="{{ page.title }}" data-isso-id="{{ page.url }}"></section>
</div>
<script>
  var commentsComp = document.getElementById('comments')
  commentsComp.classList.add('hide')
</script>
{% include footer.html %}
</body>
</html>